/target/.gitignore
/target/antrun
/target/maven-status
/target/generated-sources
/target/test-classes
/build/build
/build/deploy
/build/dist/libs
/build/dist/actlist.jar
/build/externalLibs
/build/project
/build/projectRefs
/plugins
/target/
.mvn/
.settings/
.classpath
.project
.DS_Store
.CHANGELOG.md.html
.NOTICE.md.html
.README.md.html