<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- <appender name="console" class="org.apache.log4j.ConsoleAppender"> -->
	<appender name="console" class="org.silentsoft.actlist.console.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p [%c{3}(%L) -> %M] %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/actlist.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="4" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p [%c{3}(%L) -> %M] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" /> <!-- This value effects with Preloader.App -->
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>
