<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- <appender name="console" class="org.apache.log4j.ConsoleAppender"> -->
	<appender name="console" class="org.silentsoft.actlist.console.ConsoleAppender">
		<param name="Target" value="System.out" />
	</appender>

	<!-- <appender name="file" class="org.apache.log4j.RollingFileAppender"> -->
	<appender name="file" class="org.silentsoft.actlist.console.RollingFileAppender">
		<param name="File" value="log/actlist.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="4" />
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>
