.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.anchor-pane {
   -fx-background-color: transparent;
}

.border-pane {
   -fx-background-color: transparent;
}

.root {
	-fx-background-color: null; /* quite important */
}

.actlist-icon-24 {
	-fx-background-size: 24, 24;
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("/images/icon/actlist_24.png");
}

.body {
	-fx-background-color: #ffffff;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0.1em;
}
/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	/*-fx-background-color: #ffffff;*/
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}
/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 0em;
}

/* bug : transparent track-background does not works properly in web-view */
.web-view .scroll-bar:horizontal .track-background,
.web-view .scroll-bar:vertical .track-background {
    -fx-background-color: derive(lightgray, 90%);
    -fx-background-insets: 0;
}